<Project>
  <PropertyGroup>
    <!-- Set if the default steam game install directory doesn't work. -->
    <!-- <_GameNameNoSpaces_GameRootDir></_GameNameNoSpaces_GameRootDir> -->

    <!-- Set if your BepInEx/ directory isn't in the game files. -->
    <!-- <_GameNameNoSpaces_BepInExDir></_GameNameNoSpaces_BepInExDir> -->

    <!-- Enable/disable deploying mod files to BepInEx directory. -->
    <DeployModFilesEnabled>true</DeployModFilesEnabled>
  </PropertyGroup>
</Project>
